html,
body {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-family: "Roboto Condensed", "Arial";
    background-color: #E9EBEE;
}

#fb-cover {
    margin-top: 50px;
}

.center {
    display: block;
    margin: 0 auto;
}

.profilePhoto {
    max-height: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

.work {
    padding: 40px;
    background-color: #fff;
    color: grey;
    min-height: 300px;
    overflow: hidden;
    margin: 15px;
}

.cover {
    background-color: #fff;
    min-height: 300px;
    overflow: hidden;
    padding: 15px;
}

#hwelcome {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.feed1,
.feed2,
.feed3,
.feed4,
.feed5,
.feed6 {
    padding: 40px;
    min-height: 250px;
}


/* nav bar customization */

.fb-nav {
    background: #4A6AAA;
    padding: 0;
}

.own-nav-wrapper {
    padding: 0 40px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #4A6AAA;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.nav-style {
    font-size: 1rem;
    font-weight: 700;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: :1px solid #fff;
    padding: 6px 8px;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #4A6AAA;
    border-color: #fff;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
    border-radius: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: relative;
    /* this can also be static */
}


/* css loaders */

.loader {
    transition-delay: 2s;
    color: #4A6AAA;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}